{% set title = 'Course Reserves Registration' %}
{% extends [settings.template.page, 'page.html.twig'] %}

{% block content %}
{{ parent() }}
    <form method="post">
        <div>
            <fieldset>
                <legend>Courses</legend>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Instructor Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instructor in instructors %}
                        <tr class="addremove{% if loop.last %} addremove-disabled{% endif %}">
                            <td>
                                {{
                                    helper.input({
                                        type: 'text',
                                        name: 'instructors[' ~ loop.index0 ~ '][name]',
                                        value: instructor.name,
                                        attribs: {
                                            id: 'instructors-' ~ loop.index0 ~ '-name',
                                            required: true
                                        }
                                    })
                                    |raw
                                }}
                            </td>
                            <td>
                                {{
                                    helper.input({
                                        type: 'email',
                                        name: 'instructors[' ~ loop.index0 ~ '][email]',
                                        value: instructor.email,
                                        attribs: {
                                            id: 'instructors-' ~ loop.index0 ~ '-email',
                                            required: true
                                        }
                                    })
                                    |raw
                                }}
                            </td>
                            <td>
                                {% if not loop.first %}
                                    <button type="button" class="addremove-remove button button-small" disabled>Remove</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="addremove">
                            <td colspan="3">
                                <button type="button" class="addremove-add button button-medium" disabled>Add</button>
                                <span>Please list all instructors and teaching assistants by adding a row for each.</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Course Number</th>
                            <th>Title</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr class="addremove{% if loop.last %} addremove-disabled{% endif %}">
                            <td>
                                {{
                                    helper.input({
                                        type: 'text',
                                        name: 'courses[' ~ loop.index0 ~ '][number]',
                                        value: course.number,
                                        attribs: {
                                            id: 'courses-' ~ loop.index0 ~ '-number',
                                            required: true
                                        }
                                    })
                                    |raw
                                }}
                            </td>
                            <td>
                                {{
                                    helper.input({
                                        type: 'text',
                                        name: 'courses[' ~ loop.index0 ~ '][title]',
                                        value: course.title,
                                        attribs: {
                                            id: 'courses-' ~ loop.index0 ~ '-title',
                                            required: true
                                        }
                                    })
                                    |raw
                                }}
                            </td>
                            <td>
                                {% if not loop.first %}
                                    <button type="button" class="addremove-remove button button-small" disabled>Remove</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="addremove">
                            <td colspan="3">
                                <button type="button" class="addremove-add button button-medium" disabled>Add</button>
                                <span>Please list all courses by adding a row for each.</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <fieldset>
                <legend>Reserves</legend>
                <ul>
                    <li>Items from other libraries cannot be placed on course reserve.</li>
                    <li>Personal items placed on reserve will have a permanent clear sticker placed on the cover and spine of book.</li>
                </ul>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item Title</th>
                            <th>Author</th>
                            <th>
                                Call Number
                                <div class="text-muted">For BGSU owned books only.</div>
                            </th>
                            <th>Loan Period</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reserve in reserves %}
                        <tr class="addremove{% if loop.last %} addremove-disabled{% endif %}">
                            <td>
                                {{
                                    helper.input({
                                        type: 'text',
                                        name: 'reserves[' ~ loop.index0 ~ '][title]',
                                        value: reserve.title,
                                        attribs: {
                                            id: 'reserves-' ~ loop.index0 ~ '-title'
                                        }
                                    })
                                    |raw
                                }}
                            </td>
                            <td>
                                {{
                                    helper.input({
                                        type: 'text',
                                        name: 'reserves[' ~ loop.index0 ~ '][author]',
                                        value: reserve.author,
                                        attribs: {
                                            id: 'reserves-' ~ loop.index0 ~ '-author'
                                        }
                                    })
                                    |raw
                                }}
                            </td>
                            <td>
                                {{
                                    helper.input({
                                        type: 'text',
                                        name: 'reserves[' ~ loop.index0 ~ '][number]',
                                        value: reserve.number,
                                        attribs: {
                                            id: 'reserves-' ~ loop.index0 ~ '-number'
                                        }
                                    })
                                    |raw
                                }}
                            </td>
                            <td>
                                {{
                                    helper.input({
                                        type: 'select',
                                        name: 'reserves[' ~ loop.index0 ~ '][period]',
                                        value: reserve.period,
                                        attribs: {
                                            id: 'reserves-' ~ loop.index0 ~ '-period'
                                        },
                                        options: {
                                            '2 hours': '2 hours',
                                            '24 hours': '24 hours',
                                            '3 days': '3 days',
                                            '168 hours (CRC only)': '168 hours (CRC only)',
                                            'NA - Streaming': 'NA - Streaming'
                                        }
                                    })
                                    |raw
                                }}
                            </td>
                            <td>
                                {% if not loop.first %}
                                    <button type="button" class="addremove-remove button button-small" disabled>Remove</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="addremove">
                            <td colspan="5">
                                <button type="button" class="addremove-add button button-medium" disabled>Add</button>
                                <span>Please list all items by adding a row for each.</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="question">
                    <label for="additional">Additional Information</label>
                    <div class="question-input">
                        {{
                            helper.input({
                                type: 'textarea',
                                name: 'additional',
                                value: additional,
                                attribs: {
                                    class: 'form-control',
                                    id: 'additional',
                                    rows: 4
                                }
                            })
                            |raw
                        }}
                    </div>
                    <div class="question-help">
                        Complete reserve lists, special requests regarding length of time items should be on reserve, how you would like items to be returned, or any other information.
                    </div>
                </div>
                <div class="question">
                    <label for="location">Where should these items be placed on reserve?</label>
                    <div class="question-input">
                        {{
                            helper.input({
                                type: 'select',
                                name: 'location',
                                value: location,
                                attribs: {
                                    class: 'form-control',
                                    id: 'location'
                                },
                                options: locations
                            })
                            |raw
                        }}
                    </div>
                    <div class="question-help">
                        Special Collections are still determining their reserve practices. Please reach out to them directly. Contact the Music Library at <a href="mailto:mlsra@bgsu.edu">mlsra@bgsu.edu</a> or Curriculum Resource Center at 419-372-7910 or email <a href="mailto:jbmulli@bgsu.edu">jbmulli@bgsu.edu</a>.
                    </div>
                </div>
                <div class="question">
                    <label for="terms">Terms Needed</label>
                    <div class="question-input">
                        <label>
                            {{
                                helper.input({
                                    type: 'checkbox',
                                    name: 'terms[]',
                                    value: terms,
                                    attribs: {
                                        id: 'terms',
                                        value: 'Fall'
                                    }
                                })
                                |raw
                            }}
                            Fall
                        </label>
                        <label>
                            {{
                                helper.input({
                                    type: 'checkbox',
                                    name: 'terms[]',
                                    value: terms,
                                    attribs: {
                                        value: 'Spring'
                                    }
                                })
                                |raw
                            }}
                            Spring
                        </label>
                        <label>
                            {{
                                helper.input({
                                    type: 'checkbox',
                                    name: 'terms[]',
                                    value: terms,
                                    attribs: {
                                        value: 'Summer'
                                    }
                                })
                                |raw
                            }}
                            Summer
                        </label>
                    </div>
                    <div class="question-help">
                        Please select at least one term.
                    </div>
                </div>
                <div class="question">
                    <label for="date_begin">Begin Date</label>
                    <div class="question-input">
                        {{
                            helper.input({
                                type: 'date',
                                name: 'date_begin',
                                value: date_begin,
                                attribs: {
                                    class: 'form-control',
                                    id: 'date_begin'
                                }
                            })
                            |raw
                        }}
                    </div>
                </div>
                <div class="question">
                    <label for="date_end">End Date</label>
                    <div class="question-input">
                        {{
                            helper.input({
                                type: 'date',
                                name: 'date_end',
                                value: date_end,
                                attribs: {
                                    class: 'form-control',
                                    id: 'date_end'
                                }
                            })
                            |raw
                        }}
                    </div>
                </div>
                <div class="question">
                    <label for="email">Confirmation Email</label>
                    <div class="question-input">
                        {{
                            helper.input({
                                type: 'text',
                                name: 'email',
                                value: email,
                                attribs: {
                                    class: 'form-control',
                                    id: 'email'
                                }
                            })
                            |raw
                        }}
                    </div>
                    <div class="question-help">
                        A confirmation email will only be sent if an email address is specified.
                    </div>
                </div>
                {{
                    helper.input({
                        type: 'submit',
                        name: false,
                        attribs: {
                            class: 'button button-primary'
                        }
                    })
                    |raw
                }}
            </fieldset>
            </div>
        </div>
        {{ csrf_hidden|raw }}
    </form>
{% endblock %}

{% block styles %}
{{ parent() }}
<style>
[aria-expanded="false"] {
    display: none;
}

#content .table {
    margin: 0 0 20px 0;
    width: 100%;
}

#content .table th {
    vertical-align: bottom;
}

#content .table th div {
    font-weight: normal;
}

#content .table td:last-child {
    width: 64px;
}

#content .table tr:last-child td {
    border-bottom: none;
}

#content .table input,
#content .table select {
    margin: 4px 0;
    width: 100%;
}

#content .table .button {
    margin-bottom: 4px;
    margin-top: 4px;
}

#content .question {
    line-height: 1.5;
    margin: 0 0 20px 0;
}

#content .question > label {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    #content .question {
        display: flex;
        flex-wrap: wrap;
    }

    #content .question > label {
        flex: 0 0 100%;
    }

    #content .question .question-input {
        flex: 0 1 33%;
        padding-right: 20px;
    }

    #content .question .question-help {
        flex: 0 1 66%;
    }
}

#content .question .question-input > input,
#content .question .question-input > select,
#content .question .question-input > textarea {
    width: 100%;
}

#content .question .question-input > label {
    margin-right: 8px;
}
</style>
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="https://lib.bgsu.edu/template/1.0.0/addremove.js"></script>
<script>
bgsu_addremove.setup();
</script>
{% endblock %}
